body{
    font-family: 'Montserrat', sans-serif;
}
.color{
    color: rgb(9, 166, 228);
}
section{
    display: flex;
    margin: 30px 30px 30px 30px;
}
.half-width{
    width: 50%;
    margin-left: 100px;
}
.half-width img{
    width: 100%;
}
h1{
    font-size: 65px;
    padding-top: 50px;
}
.link-button{
    background-color: rgb(9, 166, 228);
    text-decoration: none;
    color: white;
    padding: 15px 35px;
    border-radius: 50px;
    background-image: linear-gradient(rgb(9, 166, 228),skyblue) ;
}
.section-one{
    padding-bottom: 40px;
}
.second-image{
    width: 50%;
}
h2{
    font-size: 40px;
    padding-top: 100px;
}
.section-two{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.third-part{
    text-align: center;
    padding-bottom: 50px;
}
.container{
    width: 20%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 30px gray;
    margin-left: 8%
}
.container img{
    width: 100%;
}
.join{
    text-align: center;
}